@model UserListModel
@{ 
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container mt-3">
    <div class="row mt-2">
        <div class="col-6">
            <h3>Hesap Bilgileri</h3>
            <p>
                Kullanıcı Adi : @Model.Name
            </p>
            <p>
                Kullanici Soyadi : @Model.Surname
            </p>
            <p>
                Aktif Hesap Sayisi : <getAccountCount application-user-id="@Model.Id"></getAccountCount>
            </p>
        </div>
        <div class="col-6">
            <p>
                Hesap Ekleme
                <form method="post" asp-action="Create" asp-controller="Account">
                    <input type="hidden" name="ApplicationUserId" value="@Model.Id" />
                    <div class="mb-3">
                        <label class="form-label">Hesap Numarası</label>
                        <input type="number" class="form-control" name="AccountNumber" />
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Bakiye Bilgisi</label>
                        <input type="number" class="form-control" name="Balance" />
                    </div>
                    <div class="mb-3">
                        <button class="btn btn-primary">Kaydet</button>
                    </div>
                </form>
            </p>
        </div>
    </div>
</div>
