@model SelectList
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form asp-action="SendMoney" method="post">
    <input type="hidden" name="SenderId" value="@ViewBag.SenderId"/>
    <div class="mb-3">
        <label>Hesap Numarası : </label>
        <select class="form-select" asp-items="@Model" name="AccountId"></select>
    </div>
    <div class="mb-3">
        <label>Gönderilecek Tutar:</label>
        <input type="number" name="Amount" class="form-control"/>
    </div>
    <div class="mb-3">
        <button type="submit" class="btn btn-primary">Para Gönder</button>
    </div>
</form>